{% extends 'store/main.html' %}

{% block content %}
<h1>Make Staff</h1>
<form method="POST" action="{% url 'store:make-staff' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="users">Select users:</label>
        <select class="form-control" id="users" name="users" multiple>
            {% for user in users %}
            <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Make Staff</button>
</form>
{% if success %}
<p>Users have been successfully made staff.</p>
{% endif %}
{% endblock %}