{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<style>

</style>
<div class="row">
    <!-- <div class="row"> -->
    <div class="col-lg-3">
        <h2><a class="" herf="#">BROWSE PRODUCTS</a></h2>
        <hr>

        <div>
            <h3><a class="btn btn-danger" href="{% url 'store:store' %}">All</a></h3>
        </div>
        <hr>
        {% for categoryFilter in category %}
        <div>
            <h4><a class="btn btn-secondary"
                    href="{% url 'store:store' %}?category={{categoryFilter.id}}">{{categoryFilter}}</a>
            </h4>
        </div>
        {% endfor %}

    </div>

    <div class="col-lg-9">
        <div class="row">
            {% for product in products %}
            <div class="col-lg-4">
                <img class="thumbnail" src="{{product.imageURL}}">
                <div class="box-element product">
                    <h6><strong>{{product.name}}</strong></h6>
                    <hr>
                    <button data-product="{{product.id}}" data-action="add"
                        class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                    <a class="btn btn-outline-success" href="{% url 'store:productPage' product.id %}">View</a>
                    <h4 style="display: inline-block;float: right"> रू{{product.price|floatformat:2}}</h4>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="jumbotron text-black bg-dark mb-3 d-flex justify-content-center">
        <section class="big-deal text-pure">
            <div class="container">
                <h1 class="section-heading">Count Down for sale !</h1>
                <div class="timer">
                    <div>
                        <span id="days"></span>
                        <span>Days</span>
                    </div>
                    <div>
                        <span id="hours"></span>
                        <span>Hours</span>
                    </div>
                    <div>
                        <span id="minutes"></span>
                        <span>Minutes</span>
                    </div>
                    <div>
                        <span id="seconds"></span>
                        <span>Seconds</span>
                    </div>
                </div>
            </div>
        </section>
        <script type="text/javascript">
            var dest = new Date("Dec 13,2022 12:12:12").getTime();
            var x = setInterval(function () {
                var now = new Date().getTime();
                var diff = dest - now;
                var day = Math.floor(diff / (1000 * 60 * 60 * 24));
                var hour = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var min = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
                var sec = Math.floor((diff % (1000 * 60)) / (1000));
                document.getElementById("days").innerHTML = day;
                document.getElementById("hours").innerHTML = hour;
                document.getElementById("minutes").innerHTML = min;
                document.getElementById("seconds").innerHTML = sec;
            }, 1000);
        </script>
    </div>



    <!-- <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block;float: right">$30</h4>
            </div>
        </div> 
    
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block;float: right">$30</h4>
            </div>
        </div> -->
    <!-- </div> -->
</div>

{% endblock content %}